body {
  background-color: #F9F7F7;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Style the header with a grey background and some padding */
.ustmenu {
  overflow: hidden;
  background-color: #112D4E;
  padding: 20px 10px;
}

/* Style the ustmenu links */
.ustmenu a {
  float: left;
  color: #DBE2EF;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the ustmenu to increase when the font gets bigger */
.ustmenu .logo {
  font-size: 30px;
  font-weight: bold;
  color: #DBE2EF;
}

/* Change the background color on mouse-over */
.ustmenu a:hover {
  background-color: #F34573;
  color: rgb(255, 255, 255);
}

/* Style the active/current link*/
.ustmenu a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.ustmenu-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .ustmenu a {
    float: none;
    display: block;
    text-align: left;
  }
  .ustmenu-right {
    float: none;
  }
}
h1 {
  color: #F34573;
}
section {
  padding: 0px 50px 0px 50px;
  width: 85%;
  color: #476072;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 8px;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}